{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h3>Daftar Buku</h3>
        <h4><a href="{% url 'tambah_buku' %}" class="btn btn-primary">Tambah</a></h4>

        <div class="row">
            <div class="col-md-12">

                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}


                <table class="table table-light table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Penulis</th>
                            <th scope="col">Penerbit</th>
                            <th scope="col">Jumlah</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for buku in books %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'ubah_buku' buku.id %}" style="text-decoration: none;">{{ buku }}</a></td>
                            <td>{{ buku.penulis }}</td>
                            <td>{{ buku.penerbit }}</td>
                            <td>{{ buku.jumlah }}</td>
                            <td>{{ buku.kelompok_id }}</td>
                            <td>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#hapus-{{ buku.id }}">
                                    Hapus
                                </button>
                            </td>

                            <!-- Modal -->
                            <div class="modal fade" id="hapus-{{ buku.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark" id="exampleModalLabel">Hapus Data</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            Yakin ingin menghapus <strong>{{ buku | upper }}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Tutup</button>
                                            <a href="{% url 'hapus_buku' buku.id %}" class="btn btn-danger">Hapus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    

{% endblock %}    